body{
    background-image: url(../images/forms.png);
    background-size: cover;
    margin: 0;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 50vh;
}

@media (max-width: 600px) {
    body {
        font-size: 3vw;
        overflow-x: hidden;

    }
    .MainText{
        text-align: center;
    }

}

header{
    display: flex;
    width: 100%;
    background-color: azure;
    align-items: center;
    justify-content: space-evenly;
    height: min-content;
    position: relative;
    top: 0;
}

header > a{
    display: flex;
    text-decoration: none;
    color: #000;
    font-family: "Lato";
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

header > a:hover{
    color: #818181;
    cursor: pointer;
}

#HeaderImg{
    display: flex;
    width: 60px;
    height: 60px;
    align-self: flex-start;
    position: relative;
    left: 3px;
}

h1{
    font-family: "Madimi One";
}

p{
    font-family: "Lato";
}

.form-text{
    padding-left: 15%;
}

legend{
    font-family: "Madimi One";
    font-size: 20px;
}

fieldset{
    border: none;
}

label{
    font-family: "Madimi One";
}

input{
    font-family: "Lato";
    border-radius: 10px;
}

.suggestion-form{
    padding-left: 15%;
}

.input-form{
    width: 25%;
    text-align: left;
    vertical-align: text-top;
}

#submit-btn{
    margin-top: 7px;
}

footer{
    display: flex;
    flex-wrap: nowrap;
    background-color: azure;
    align-items: center;
    justify-content: space-evenly;
    height: min-content;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer > a{
    display: flex;
    text-decoration: none;
    color: #000;
    font-family: "Lato";
    text-align: center;
    justify-content: space-evenly;
}

footer > a:hover{
color: #818181;
}

