body{
    background-image: url(images/background.png);
    background-size: cover;
    margin: 0;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 125vh;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 3vw;
        overflow-x: hidden;

    }
    .MainText{
text-align: center;
    }
}

header {
    display: flex;
    background-color: azure;
    align-items: center;
    justify-content: space-evenly; /* Align child elements evenly */
    height: min-content;
    position: relative;
    width: 100%;
    top: 0;
}

header > a {
    display: flex;
    text-decoration: none;
    align-items: center; /* Align button contents vertically */
}
button:hover{
    color: #818181;
    cursor: pointer;
}

button{
    color: #000;
    font-family: "Lato";
    text-align: center;
    background-color: azure;
    font-size: 17px;
    border: 0;
}

#HeaderImg{
    display: flex;
    width: 70px;
    height: 70px;
    margin-right: auto;
    padding-left: 15%;

}

.MainMenu {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 6%;
    right: 5%;
    padding: 20px;
    width: 85%;
    height: 30rem;
    background-color: rgba(240, 255, 255, 0.5);
    border-radius: 20rem 20rem 0 0;
}

.MainMenu > p{
    display: flex;
    flex-wrap: wrap;
    font-family: "Lato";
    font-size: 20px;
    text-align: center;
    padding-top: 3vh;
    position: fixed;
    bottom: 15vh;
    left: 13%;
    right: 9%;
    text-shadow:  
   -1px -1px azure,  
    1px -1px azure,
   -1px  1px azure,
    1px  1px azure;
}

#MainText{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    font-family: "Madimi One", sans-serif;
    font-size: 450%;
    text-align: center;
}

footer{
    display: flex;
    background-color: azure;
    align-items: center;
    justify-content: space-evenly;
    height: min-content;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer > a{
    display: flex;
    text-decoration: none;
    color: #000;
    font-family: "Lato";
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer > a:hover{
color: #818181;
}
